<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cloud.dao.PeopleMapper">

    <insert id="addPeople" parameterType="people">
        insert into people (name,age)
        values(#{name},#{age})
    </insert>

    <select id="selectPeople" parameterType="int" resultType="people">
        select * from people where id=#{id}
    </select>
</mapper>